.padding {
    margin-bottom: 20px !important;
}
.left-align {
    padding-right:10px !important;
}

.align-space {
    padding-top:30px !important
}
    .option-layout {
margin-left: 4em;
    }
    @media only screen and (max-width: 700px) {
        .option-layout {
            margin-left: 1em;
        }
      }
    .flex-gap-bottom {
        margin-bottom: 1.85rem !important;
    }
    .capitalize
    {
        text-transform: capitalize;
    }
    .clr-blk {
        color: #000000a3 !important;
        font-weight: 500;
    }
    .flex-center {
        display: flex;
        align-items: center;
        place-content: center;
    }
    .full-layout {
        min-height: 395px;
    }