<footer class="bg-purple">
  <div class="container" id="contact">
      <!-- subscribe -->
      <!--<h2 class="tittle text-center font-weight-bold">Important</h2>-->
      <div class="row price-grid-main">
          <!-- <div class="col-lg-3 col-sm-6">
              <div class="prices p-4" style="border:none !important">

                  <div class="prices-bottom" id="contact">
                      <ul class="mt-4">
                          <li><a href="#contact" style="color:white"><i class="fa fa-envelope"></i>&nbsp; tnemiscel@gmail.com</a></li>
                      </ul>
                  </div>
              </div>
          </div> -->
          <div class="col-lg-4 col-sm-6">
            <div class="prices p-4" style="border:none !important">

                <div class="prices-bottom">
                    <ul class="mt-4">
                        <li><a href="mailto:elearntn@gmail.com" style="color:white"><i class="fa fa-envelope"></i>&nbsp; elearntn@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

      
          <div class="col-lg-3 col-sm-6">
            <div class="prices p-4" style="border:none !important">

                <div class="prices-bottom">
                    <!--<div class="prices-h">
                        <h4 style="color:#ff2496">Usefull links</h4>
                    </div>-->
                    <ul class="mt-4">
                        <li>
                            <a style="color:white" href="https://e-learn.tnschools.gov.in/" target="_blank">e-Learning</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


          <div class="col-lg-4 col-sm-6">
              <div class="prices p-4" style="border:none !important">

                  <div class="prices-bottom">
                      <div class="prices-h">
                          <img class="img-fluid" style="border-radius:4px;" srcset="/assets/img/bottom-emi-logo.png" />
                      </div>

                  </div>
              </div>


          </div>
          <div class="col-lg-1">
            <div class="prices p-4" style="border:none !important">

                <div class="prices-bottom">
                    <div class="prices-h">
                        <!-- <img src="https://www.freevisitorcounters.com/ctrimg/counter-id-663484.png" class="visitor-count" border="0"> -->
                    </div>

                </div>
            </div>
            

          </div>

      </div>

      <!-- //subscribe -->
  </div>
</footer>
